/* Підключення фрифтів */

/* Google Fonts (Plugin) */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap"); */

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

.header {
    width: 1440px;
    height: 56px;
    flex-shrink: 0;
	background-color: #FFF;
}

/* Основні стилі */
body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

/* hydra menu */ 

.hydra__background {
	padding-top: 35px;
	background-color: #302C42;
	font-family: "Montserrat", "Arial", sans-serif;
	color: #fff;
}

.hydra__menu {
	max-width: 1170px;
	margin: 0 auto;
	background: rgb(52, 46, 80);
	background: radial-gradient(circle, rgb(51, 45, 82) 22%, rgb(31, 27, 48) 47%);
	border-radius: 90px;
	color: #FFF;
}

.info-menu__items {
	display: table;
	padding: 35px 45px 35px 75px;
}


.first__item-navigation {
	display: inline-block;
	max-width: 440px;
	background: url("../img/01_Location.svg") 0 50% / 35px no-repeat;
	padding: 20px 35px 20px 45px;
	margin-right: 40px;
	border-right: 1px solid gray;
}

.second__item-number {
	display: inline-block;
	max-width: 440px;
	background: url("../img/02_phone.svg") 0 50% / 35px no-repeat;
	padding: 20px 70px 20px 50px;
	margin-right: 45px;
	border-right: 1px solid gray;
}

.third__item-mail {
	display: inline-block;
	max-width: 440px;
	background: url("../img/03_mail.svg") 0 50% / 60px no-repeat;
	padding: 20px 35px 20px 70px;

}

.item-title {
	max-width: 350px;
    font-size: 24px;
	font-weight: 700;
	margin-bottom: 5px;
}

.item-text {
	max-width: 350px;
}

.hydra__content {
	max-width: 1290px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url("../img/07_vector.svg") 0 15% / contain no-repeat, url("../img/08_vector.svg") 0 58% / contain no-repeat;
	margin-bottom: 35px;
}

.content__image {
	display: inline-block;
	vertical-align: middle;
	max-width: 524px;
	max-height: 545px;
	overflow: clip;
	border-radius: 40% 18% 43% 20% / 46% 20% 46% 20%;
	margin-right: 118px;
}

.content__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content__info {
	display: inline-block;
	vertical-align: middle;
	max-width: 630px;
}


.info__text-block {
	margin-bottom: 28px;
}

.info__text-block h2 {
	font-size: 36px;
}

.info__title--bold {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #FFF;
}
.info__title {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 35px;
	color: #FFFFFFF2;
}

.info__text {
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.button-link {
	display: inline-block;
	max-width: auto;
    padding: 17px 35px;
    flex-shrink: 0;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
	color: #343045;
    font-size: 12px;
    font-weight: 700;
}

/* ECO_bazar */ 

.main__ecobazar {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #FFF;
	color: #808080;
}

.eco__content {
	max-width: 660px;
	margin: 0 auto;
	font-family: "Poppins", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.eco__name {
	font-family: "Poppins", " Arial", sans-serif;
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 35px;
	color: #84D187;
}

.eco__text-item {
	margin-bottom: 30px;
}
.eco__text-block,
.eco__list-block {
	margin-bottom: 20px;
	box-sizing: border-box;
}

.list__item {
	background: url("../img/ok.webp") 0 0 / 18px no-repeat;
	padding-left: 25px;
	margin-bottom: 14px;
}
.eco__bottom-text-block {
	margin-bottom: 20px;
	padding-left: 10rem;
	box-sizing: border-box;
}


.footer {
	width: 1440px;
    height: 56px;
    flex-shrink: 0;
	background-color: #FFF;
}
